body {
  color: #fff;
}



h1 {
  font-size: 50px;
  margin: 20px;
}

h2{
  font-size: 30px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
}

.main-content {
  margin-top: 80px;
  text-align: center;
}

.box {
  background: #1b1b1b;
  border-radius: 15px;
  margin: 10px 200px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .box {
    margin: 10px 100px;
  }
}

@media screen and (max-width: 800px) {
  .box {
    margin: 10px 50px;
  }
}

b {
  color: var(--default)
}

p {
  line-height: 2;
}