.footer {
  background: var(--background3);
  color: var(--text);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
}