body {
  color: #fff;
}

.main {
  margin-bottom: 10px;
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 47px;
  text-align: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
}

h3 {
  font-weight: 300;
  font-size: 30px;
  margin: 10px;
}

h4 {
  font-weight: 300;
  font-size: 22px;
  margin: 0px 120px;
}

h5 {
  font-weight: 300;
  font-size: 16px;
}

.play {
  background: var(--default);
  border: 0px;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 28px;
  transition: all 300ms;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 0px;
}

.play:hover {
  transform: scale(1.2)
}

.about {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 47px;
  text-align: center;
  line-height: 2;
}

.games a:hover {
  color: #fff;
}

.games {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 47px;
}

.games-grid {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
}

.game-card {
  background: #1b1b1b;
  text-align: center;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  transition: all 300ms;
  display: inline-block;
}

.game-card h3 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px;
  font-weight: bold;
  font-size: 17px;
}

.game-card:hover {
  transform: scale(0.95)
}

.game-logo {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.games-title {
  text-align: center;
}

.partners a:hover {
  color: #fff;
}

.partners {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  padding-left: 47px;
  padding-right: 47px;
}

.partners-grid {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 40px;
}

.partner-card {
  background: #1b1b1b;
  text-align: center;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  transition: all 300ms;
  display: inline-block;
}

.partner-card h5 {
  font-size: 13px;
  padding: 5px;
  text-align: start;
}

.partner-card h3 {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1.5px solid #777;
  padding: 5px;
  font-weight: bold;
  font-size: 17px;
}

.partner-card:hover {
  transform: scale(0.95)
}

.partner-logo {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

.partners-title {
  text-align: center;
}

.social {
  border-radius: 10px;
  padding: 10px 47px;
  text-align: center;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa-brands {
  font-size: 1.8em;
}

.social-icons .fa-brands {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa-brands {
  border-radius: 50%;
}

.social-icons.icon-rounded .fa-brands {
  border-radius: 5px;
}

.social-icons.icon-rotate .fa-brands:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}


.social-icons .fa-discord {
  background-color: #404eed;
}

.social-icons .fa-youtube {
  background-color: #ff0000;
}

.social-icons .fa-twitter {
  background-color: #1da1f3;
}

.social-icons .fa-github {
  background-color: #000;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-weight: 700;
    font-size: 30px;
  }

  h3 {
    font-weight: 300;
    font-size: 20px;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;
    margin: 0px 120px;
  }

  h5 {
    font-weight: 300;
    font-size: 12px;
  }

  .main {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
  }

  .about {
    padding: 10px 20px;
  }
}