@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap');

:root {
  --default: #1cd96a;
  --halloween: #eaa133;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0 !important;
}
body {
  background: #121212;
  font-weight: 400;
}

.nav {
  top: 0px;
  position: fixed;
  z-index: 999999;
  width: 100%;
  padding: 15px 50px;
  background: #121212;
  justify-content: space-between;
  height: 70px;
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav-links a:hover {
  color: var(--default);
}
.nav .logo .logo-image {
  height: 26px;
  width: 26px;
}
.nav .logo {
  font-size: 22px;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 300ms;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav .left {
  display: flex;
  gap: 15px;
}

.nav .nav-big-btn {
  height: 48px;
  width: 48px;
  border: none;
  background: #1b1b1b;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  transition: 300ms;
  color: #fff;
}

.nav .nav-big-btn:hover {
  background: #252525;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 2000px) {
  .nav {
    padding: 15px 30px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 30px;
  }
  .nav #clock {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #121212;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}

#google_translate_element {
  margin: 10px;
}

select {
  background: transparent;
  font-family: 'Inter';
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  transition: 300ms;
}

label {
  font-family: 'Inter';
}

option {
  font-family: 'Inter';
  color: #fff;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: var(--default);
  border-radius: 8px;
}

#clock {
  color: #fff;
  margin: none;
}

.nav .right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.nav .left {
  display: flex;
  align-items: center;
}