body {
  color: var(--text);
}

.main {
  margin-bottom: 10px;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 47px;
  text-align: center;
}

h1 {
  font-size: 80px;
  padding: 0px 200px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-weight: 300;
  font-size: 20px;
  margin: 10px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
}

h5 {
  font-weight: 300;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.play, .browse{
  border: 0px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 15px;
  transition: all 200ms;
  cursor: pointer;
  margin-bottom: 10px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.play {
  background: var(--theme);
}

.browse {
  background: var(--background3);
  color: var(--text);
}

.play:hover, .browse:hover {
  transform: scale(1.05);
}

.about {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 47px;
  text-align: center;
  line-height: 2;
}

.partners {
  text-align: center;
}

.partners .partners-title {
  line-height: 2;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7;
  margin: 0px 150px;
}

.partner-card {
  width: 200px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  border: 3px solid transparent;
  display: block;
  margin: 15px;
}

.partner-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: var(--theme);
}

.partner-card:active {
  border-color: transparent;
}

.partner-card img {
  width: 100%;
  height: 100%;
}

.partner-card .contain {
  object-fit: contain;
}

.partner-card .cover {
  object-fit: cover;
}

.partner-card .content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  padding: 5px;
  bottom: 0;
  opacity: 0;
  transition: ease 300ms;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.partner-card .title {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
}

.partner-card:hover .content {
  opacity: 1;
}

.social {
  border-radius: 10px;
  padding: 10px 47px;
  text-align: center;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.social-icons .fa-brands {
  font-size: 1.8em;
}

.social-icons .fa-brands {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--text);
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa-brands {
  border-radius: 50%;
}

.social-icons.icon-rounded .fa-brands {
  border-radius: 5px;
}

.social-icons.icon-rotate .fa-brands:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}


.social-icons .fa-discord {
  background-color: #404eed;
}

.social-icons .fa-youtube {
  background-color: #ff0000;
}

.social-icons .fa-twitter {
  background-color: #1da1f3;
}

.social-icons .fa-github {
  background-color: var(--text-secondary);
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 80px;
    padding: 0px 100px;
  }

  h2 {
    font-weight: 700;
    font-size: 30px;
  }

  h3 {
    font-weight: 300;
    font-size: 20px;
  }

  h4 {
    font-weight: 300;
    font-size: 18px;
  }

  h5 {
    font-weight: 300;
    font-size: 12px;
  }

  .main {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 60px;
    padding: 0px 30px;
  }

  .about {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
    padding: 0px 30px;
  }

  h3 {
    font-size: 14px;
  }

  .buttons {
    padding: 
  }

  .main {
    padding: 10px 0px;
  }
}