.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text);
  margin-top: 70px !important;
  text-align: center;
}

h1 {
  font-size: 100px;
  margin: 20px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
}

#uv-form {
  background: var(--background3);
  border: none;
  padding: 0px 20px;
  font-size: 16px;
  width: 40vw;
  color: var(--text);
  text-align: center;
  margin: 20px 0px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-decoration-style: solid;
  text-decoration-color: var(--text);
  transition: 500ms;
  outline: none;
  display: flex;
  align-items: center;
}

#uv-address {
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text);
  text-align: left;
  width: 100%;
  text-decoration-style: solid;
  text-decoration-color: var(--text);
  transition: 300ms;
}

::placeholder {
  color: var(--placeholder);
  font-size: 16px;
}

.shortcuts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 25px 25%;
}

.shortcut {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 300ms;
  cursor: pointer;
  width: 90px
}

.shortcut:hover {
  background: var(--background3);
}

.shortcut p {
  color: var(--text);
  font-size: 14px;
}

.shortcut-image {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 1500px) {
  .shortcuts {
    margin: 20px 25%;
  }
}

@media screen and (max-width: 1200px) {
  .shortcuts {
    margin: 20px 15%;
  }
}