body {
  color: var(--text);
}

a {
  transition: 300ms;
}

h1 {
  font-size: 50px;
  font-family: 'Montserrat';
  margin: 20px;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat';
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
}

.main-content {
  margin-top: 100px;
  text-align: center !important;
  width: calc(100% - 400px);
  display: flex;
  gap: 20px;
  margin: 100px 200px 0px 200px;
}

.sidebar {
  width: calc(25% - 10px);
}

.settings-tabs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--background2);
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  height: auto;
}

.main-content .tab-link {
  padding: 11px 10px;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  color: var(--text);
  border: none;
  cursor: pointer;
  transition: 250ms;
  margin: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-content .tab-link:hover {
  background: var(--background3);
}

.main-content .tab-link:active {
  transform: scale(0.98);
}

.tab-link ion-icon {
  font-size: 20px;
}

.settings,
#about {
  display: flex;
  width: calc(75% - 10px);
  flex-direction: column;
  gap: 20px;
}

.box {
  background: transparent;
  border-radius: 15px;
  border: 1px solid var(--shadow);
  width: 100%;
  padding: 30px;
  text-align: left;
}

::placeholder {
  color: var(--placeholder);
  font-size: 16px;
}

.main-content button {
  color: var(--text);
  background: var(--background3);
  border: 0px;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  transition: 250ms;
  cursor: pointer;
  margin: 10px 0px;
}

.main-content button:hover {
  background: var(--background2);
}

.main-content button:active {
  transform: scale(0.95);
}

.main-content button:disabled {
  background-color: var(--background2);
  color: var(--placeholder);
  border: transparent;
  cursor: auto;
}

.main-content button:disabled:hover {
  color: var(--placeholder);
}

span {
  font-family: 'Inter' !important;
}

kbd {
  font-family: 'Inter' !important;
  background-color: var(--background3);
  padding: 20px 25px;
  font-size: 24px;
  border-radius: 15px;
  box-sizing: border-box;
  text-align: center;
  color: var(--text);
  cursor: pointer;
  text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 var(--background3), 0 6px 0 #C0C0C0, 0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25), -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);
}

input {
  background: var(--background3);
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  margin: 10px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  text-decoration-style: solid;
  text-decoration-color: var(--text);
  transition: 500ms;
  outline: none;
}

.box button {
  background: var(--background3);
}

.record-key {
  height: fit-content;
}

#recordKeyButton {
  margin: 20px 0px;
}

.url-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0px;
}

.url-buttons button {
  padding: 10px;
  line-height: 0;
}

.url-buttons img {
  width: 24px;
  height: 24px;
}

.status-icon {
  font-size: 80px;
  color: var(--theme);
}

.links-container {
  display: flex;
  margin: 30px 0px;
}

.selected-url {
  outline: 2px solid var(--text);
}

#themes, #searchEngine {
  padding: 8px;
  background: var(--background3);
  border: none;
  font-size: 16px;
  margin: 10px 0px;
  border-radius: 10px;
  color: var(--text);
  outline: none;
}

@media screen and (max-width: 1000px) {
  
}