body[theme="catppuccin-latte"] {
  --background: #eff1f5;
  --background2: #bcc0cc;
  --background3: #9ca0b0;
  --theme: rgb(4, 165, 229);
  --shadow: rgba(4, 165, 229, 0.5);
  --text: #4c4f69;
  --placeholder: #4c4f69;
  --text-secondary: #dce0e8;
  --nav-btn: #e6e9ef;
}

body[theme="catppuccin-frappe"] {
  --background: #232634;
  --background2: #303446;
  --background3: #414559;
  --theme: rgb(140, 170, 238);
  --shadow: rgba(140, 170, 238, 0.5);
  --text: #c6d0f5;
  --placeholder: #c6d0f5;
  --text-secondary: #232634;
  --nav-btn: #292c3c;
}

body[theme="catppuccin-macchiato"] {
  --background: #181926;
  --background2: #24273a;
  --background3: #363a4f;
  --theme: rgb(138, 173, 244);
  --shadow: rgba(138, 173, 244, 0.5);
  --text: #cad3f5;
  --placeholder: #8087a2;
  --text-secondary: #181926;
  --nav-btn: #1e2030;
}

body[theme="catppuccin-mocha"] {
  --background: #11111b;
  --background2: #1e1e2e;
  --background3: #313244;
  --theme: rgb(137, 180, 250);
  --shadow: rgba(27, 38, 54, 0.5);
  --text: #cdd6f4;
  --placeholder: #cdd6f4;
  --text-secondary: #11111b;
  --nav-btn: #181825;
}

body[theme="monochrome"] {
  --background: #121212;
  --background2: #181818;
  --background3: #1f1f1f;
  --theme: #fff;
  --shadow: rgba(255, 255, 255, 0.5);
  --text: #b6b6b6;
  --text-secondary: #000;
  --nav-btn: #2b2b2b;
  --placeholder: #757575;
}

body[theme="urban-green"] {
  --background: #004643;
  --background2: #005450;
  --background3: #00817a;
  --theme: rgb(249, 188, 96);
  --shadow: rgba(249, 188, 96, 0.5);
  --text: #abd1c6;
  --text-secondary: #001e1d;
  --nav-btn: #005450;
  --placeholder: #abd1c6;
}

body[theme="hazelnut"] {
  --background: #55423d;
  --background2: #624d47;
  --background3: #866960;
  --theme: rgb(255, 192, 173);
  --shadow: rgba(255, 192, 173, 0.5);
  --text: #fff3ec;
  --text-secondary: #271c19;
  --nav-btn: #624d47;
  --placeholder: #fff3ec;
}

body[theme="magma"] {
  --background: #310000;
  --background2: #5a0000;
  --background3: #b10000;
  --theme: #ff0000;
  --shadow: rgba(255, 0, 0, 0.5);
  --text: #fff;
  --text-secondary: #000;
  --nav-btn: #850000;
  --placeholder: #fc6d6d;
}

body[theme="mint-apple"] {
  --background: #132421;
  --background2: #1c3729;
  --background3: #2c5b50;
  --theme: #578464;
  --shadow: rgba(87, 132, 100, 0.5);
  --text: #fff;
  --text-secondary: #000;
  --nav-btn: #578464;
  --placeholder: #757575;
}