body[theme="default"] {
  --background: #161616;
  --background2: #1e1e1e;
  --background3: #262626;
  --theme: #1cd96a;
  --shadow: rgba(28, 217, 106, 0.5);
  --text: #b6b6b6;
  --text-secondary: #000;
  --nav-btn: #313131;
  --placeholder: #757575;
}

body[theme="light"] {
  --background: #fff;
  --background2: #e0e0e0;
  --background3: #9e9e9e;
  --theme: #1cd96a;
  --shadow: rgba(28, 217, 106, 0.5);
  --text: #000;
  --text-secondary: #fff;
  --nav-btn: #cfcfcf;
  --placeholder: #757575;
}

body[theme="monochrome"] {
  --background: #121212;
  --background2: #181818;
  --background3: #1f1f1f;
  --theme: #fff;
  --shadow: rgba(255, 255, 255, 0.5);
  --text: #b6b6b6;
  --text-secondary: #000;
  --nav-btn: #2b2b2b;
  --placeholder: #757575;
}

body[theme="abyss"] {
  --background: #000c18;
  --background2: #1a242d;
  --background3: #262641;
  --theme: #4958e4;
  --shadow: rgba(73, 88, 228, 0.5);
  --text: #fff;
  --text-secondary: #000;
  --nav-btn: #10192c;
  --placeholder: #757575;
}

body[theme="magma"] {
  --background: #310000;
  --background2: #5a0000;
  --background3: #b10000;
  --theme: #ff0000;
  --shadow: rgba(255, 0, 0, 0.5);
  --text: #fff;
  --text-secondary: #000;
  --nav-btn: #850000;
  --placeholder: #fc6d6d;
}

body[theme="mint-apple"] {
  --background: #132421;
  --background2: #1c3729;
  --background3: #2c5b50;
  --theme: #578464;
  --shadow: rgba(87, 132, 100, 0.5);
  --text: #fff;
  --text-secondary: #000;
  --nav-btn: #578464;
  --placeholder: #757575;
}

body[theme="catppuccin-latte"] {
  --background: #eff1f5;
  --background2: #9ca0b0;
  --background3: #7c7f93;
  --theme: rgb(4, 165, 229);
  --shadow: rgba(4, 165, 229, 0.5);
  --text: #4c4f69;
  --placeholder: #4c4f69;
  --text-secondary: #dce0e8;
  --nav-btn: #e6e9ef;
}

body[theme="catppuccin-frappe"] {
  --background: #303446;
  --background2: #51576d;
  --background3: #737994;
  --theme: rgb(140, 170, 238);
  --shadow: rgba(140, 170, 238, 0.5);
  --text: #c6d0f5;
  --placeholder: #c6d0f5;
  --text-secondary: #232634;
  --nav-btn: #292c3c;
}

body[theme="catppuccin-macchiato"] {
  --background: #24273a;
  --background2: #494d64;
  --background3: #6e738d;
  --theme: rgb(138, 173, 244);
  --shadow: rgba(138, 173, 244, 0.5);
  --text: #cad3f5;
  --placeholder: #cad3f5;
  --text-secondary: #181926;
  --nav-btn: #1e2030;
}

body[theme="catppuccin-mocha"] {
  --background: #1e1e2e;
  --background2: #45475a;
  --background3: #6c7086;
  --theme: rgb(137, 180, 250);
  --shadow: rgba(137, 180, 250, 0.5);
  --text: #cdd6f4;
  --placeholder: #cdd6f4;
  --text-secondary: #11111b;
  --nav-btn: #181825;
}