html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    height: 100%;
}
canvas {
    display: block;
}
body {
    margin: 0;
}
#unity-container {
    width: 100%;
    height: 100%;
}
#unity-canvas {
    width: 100%;
    height: 100%;
    /*background: #FFFFFF;*/
    background: black;
}
#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#unity-logo {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    text-align: center;
}
#unity-logo img {
    max-width: 65%;
}
#unity-progress-bar-empty {
    width: 50%;
    height: 24px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid white;
    padding: 2px;
}
#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: white;
}
.light #unity-progress-bar-empty {
    border-color: black;
}
.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.spinner {
  margin: 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: spinner-spin 1.1s infinite linear;
}
@keyframes spinner-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
#loading-txt
{
  background-image: linear-gradient(
    -225deg,
    #152757 0%,
    #10537a 29%,
    #13d0ff 67%,
    #525b83 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 0.5s linear infinite;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#login{
    background-image: url("../google_btn.png");
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 8%;
    width: 10%;
    height: 4.895%;
    background-size: 100% 100%;

    /*width: 192px;
    height: 47px;*/
}
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&family=MuseoModerno:wght@600&display=swap');
#logout{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-radius: 5px;
    background-color: rgb(142,32,32);
    position: absolute;
    z-index: 9999;
    top: 15px;
    right: 8%;
    width: 10%;
    height: 50px;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    /*width: 200px;
    height: 50px;*/
}
.matoki {
  border: 10px;
  background-color: rgb(178,34,34);
  border-radius: 5px;
  height: 30px;
  width: 100%;
}

