@font-face {
	font-family:"Circular";
	font-weight:normal;
	src:url(circular-medium.otf);
}

@font-face {
	font-family:"Circular";
	font-weight:bold;
	src:url(circular-bold.otf);
}

@font-face {
	font-family:"Circular Book";
	src:url(circular-book.otf);
}

* {
	outline:none;
	user-select:none;
	-moz-user-select:none;
	touch-action:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	height:100%;
	margin:0;
	padding:0;
}

body {
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:Circular, Roboto, Helvetica, sans-serif;
	background-color:black;
}

#bg {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	z-index:-5;
}

#container {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	position:fixed;
	background-color:rgba(255,255,255,0.8);
	width:95%;
	height:95%;
	opacity:0;
}

#center {
	position:relative;
	text-align:center;
	pointer-events:none;
}

#nutAmount {
	font-size:1.5em;
}

#nut {
	position:relative;
	width:200;
	height:200;
	background-size:100% 100%;
	margin:0 auto;
	transition:transform 0.1s;
	will-change:transform;
	pointer-events:auto;
	cursor:pointer;
}

#nut:hover, #nut:focus {
	transform:scale(0.95,0.95);
}

#nut:active {
	transform:scale(0.85,0.85);
}

#nuts {
	text-align:center;
	overflow-y:auto;
	max-height:250;
	padding:15;
}

.hidden {
	display:none;
	opacity:0;
}

.nutInfo {
	position:absolute;
	background-color:rgba(0, 0, 0, 0.05);
	box-shadow:0px 0px 5px #888888;
	top:0;
	max-height:calc(100% - 30px);
	margin:15;
	overflow-y:auto;
}

#levelrow {
	text-align:center;
	height:40;
}

#level {
	display:inline-block;
	position:relative;
	width:50%;
	height:30;
	background-color:rgba(0,0,0,0.2);
	border-radius:999px;
	box-shadow:4px 4px 5px rgba(0,0,0,0.25);
	overflow:hidden;
}

#levelstats {
	text-align:left;
	position:absolute;
	display:inline-block;
	margin-left:10;
}

#innerlevel {
	height:100%;
	background-color:rgba(41, 186, 255, 0.6);
	transition:width 0.2s;
}

#nutpopup {
	position:absolute;
	top:30%;
	left:-50;
	font-size:1.3em;
	opacity:0;
	animation-duration:0.7s;
}

#nutclicked {
	position:absolute;
	top:30%;
	right:-50;
	font-size:1.3em;
	opacity:0;
	animation-duration:0.4s;
}

#story {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	overflow-y:scroll;
	width:80%;
	height:150;
	text-align:center;
	font-family:Circular Book;
	white-space:pre-wrap;
	-webkit-mask-image:-webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

#title {
	padding-top:20;
	text-align:center;
	font-family:Circular Book;
	font-size:3em;
}

.row {
	position:relative;
	width:100%;
	overflow:hidden;
}

#playtime {
	font-size:0.4em;
}

#nutcanvas {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}

.expander {
	padding:2;
	position:relative;
	float:left;
	overflow:hidden;
	cursor:pointer;
	background-color:transparent;
	transition:background-color 0.1s;
	will-change:width, height;
}

.expander:hover {
	background-color:rgba(0,0,0,0.05);
}

.expandshown { 
	padding:15;
	background-color:transparent;
}

.expander:before {
	display:block;
	left:0;
	width:100%;
	font-size:0.8em;
	padding:0 7;
	text-align:center;
	margin-bottom:5000;
}

.expandshown:before {
	display:none;
}

#nutHelpers:before {
	content:"nut helpers";
}

#upgrades:before {
	content:"upgrades";
}

@media (max-width:600px), (max-height:700px) {
	body, button {
		font-size:0.8em;
	}

	#title {
		display:none;
	}

	#story {
		height:70;
	}

	#container {
		width:100%;
		height:100%;
	}
}

@media (max-height:800px) {
	body {
		font-size:0.8em;
	}
}

@media (max-height:500px) {
	#story {
		display:none;
	}

	#level {
		display:none;
	}
}

/* default things */
button {
	font-family:Circular Book, Roboto, Helvetica, sans-serif;
	padding:10 15;
	margin:5;
	text-align:center;
	cursor:pointer;
	outline:none;
	color:#fff;
	border:none;
	border-radius:15px;
	box-shadow:0 6px #999;
	background-color:#444444;

	transition:brightness 0.1s, transform 0.1s, box-shadow 0.1s;
}

button:hover {
	filter:brightness(90%);
}

button:active {
	filter:brightness(80%);
	box-shadow:0 3px #666;
	transform:translateY(2px);
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	margin-bottom:15;
	padding:0;
	font-weight:bold;
}

::-webkit-scrollbar-track {
	width: 6px;
	height: 5px;
	margin: 1px;
	padding: 0px;
	background:transparent;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-corner {
	background: rgba(255, 255, 255, 0.3);
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-image: initial;
}

::-webkit-scrollbar-thumb {
	z-index:99999999999999999;
	background-clip: content-box;
	width: 1px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	margin: 1px !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: transparent !important;
	border-image: initial !important;
}

/* animations */
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes fadeOut {
	0% {
		transform:translateY(0px);
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform:translateY(-30px);
		opacity: 0;
	}
}

@keyframes click {
	0% {
		opacity:0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}