body {
    margin: 0px 0px 1px 0px; /* the extra 1px allows the iOS inner/outer check to work */
    overflow: hidden;
}





@font-face {
    font-family: 'ComicSansBold';
    src: url('../fonts/ComicSansBold.woff2') format('woff2'),
    url('../fonts/ComicSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#gameFontPreload{
    position: absolute;
    left:-1000px;
    top: -1000px;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/orientation.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}
